
#root {
background-color: rgb(68, 98, 190);
height: 480vh;
}
/* width:500vw;
}
/*     4 - Used https://coolors.co/70ce4e to pick split color schemes selected Lime Green 70CE4E Purple 824FCF Pink CF4FC6 and 16300D Dark Green for  */
/* .form {
    margin: 10px;
  }
  
  .form input {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
  } */

  /* .navbar {
    background: #CF4FC6;
    height: 60px;
  }
  
  .navbar a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }
  
   */